@import "@/styles/variables.scss";

.container {
  display: flex;
  justify-content: flex-end;

  .messageContainer {
    display: flex;
    max-width: 75%;
    flex-direction: row-reverse;

    .senderPictureContainer {
      min-width: 32px;
      align-self: flex-end;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      overflow: hidden;
      margin-right: 15px;
      object-fit: contain;

      img {
        width: 100%;
        height: auto;
      }
    }

    .messageContainer {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      opacity: 1;
      margin-bottom: 5px;

      .messageBody {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 12px;
        background-color: $message-owner-background-color;
        border-radius: 4px;
        p {
          max-width: 100%;
          color: $light-background-text-color-secondary;
          opacity: 0.85;
          line-height: 1.25;
          font-size: 14px;
        }
      }

      .messageInfo {
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          padding-top: 5px;
          padding-right: 2px;
          font-size: 10.5px;
          color: $light-background-text-color-primary;
          opacity: 0.8;
          font-weight: 400;
          margin-left: 6px;
          margin-bottom: 7px;
        }
        .checkIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
        }
        .readCheckIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          color: $online-badge-color;
        }
      }
    }
  }
}
