@import "@/styles/_variables.scss";
.container {
  overflow-y: scroll;
  display: flex;
  color: $light-background-text-color-primary;
  height: 100%;
  flex-direction: column-reverse;
  .listContainer {
    list-style: none;
  }
}
