@import "@/styles/variables.scss";

.container {
  display: flex;

  .messageContainer {
    display: flex;
    max-width: 75%;

    .senderPictureContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 32px;
      align-self: flex-end;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      overflow: hidden;
      margin-left: 15px;
      object-fit: contain;

      img {
        width: 100%;
        height: auto;
      }
    }

    .messageContainer {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      opacity: 1;
      margin-bottom: 5px;

      .messageBody {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 12px;
        background-color: $dark-message-background-color;
        border-radius: 4px;
        p {
          display: inline-block;
          max-width: 100%;
          word-wrap: break-word;
          color: $light-background-text-color-secondary;
          opacity: 0.85;
          line-height: 1.25;
          font-size: 14px;
        }
      }

      .messageInfo {
        p {
          padding-top: 5px;
          padding-left: 2px;
          font-size: 10.5px;
          color: $light-background-text-color-primary;
          opacity: 0.8;
          font-weight: 400;
          margin-bottom: 7px;
        }
      }
    }
  }
}
