@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.layout {
  width: 100%;
  height: 100vh;
  background-color: $login-background-color;
  .container {
    background-color: $login-background-color;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .loginWindow {
      width: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 25px;
      border-radius: 10px;
      .formHeaderSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        h2 {
          font-weight: 500;
          font-size: 22px;
          margin-bottom: 10px;
          color: $dark-message-background-color;
        }
        p {
          color: $navbar-action-color;
          font-weight: 400;
          font-size: 15px;
        }
      }
      .formInputsSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .inputContainer {
          @include input();
          margin: 10px 20px;
          .inputField {
            input {
              color: $input-background-color;
            }
            label {
              color: $input-background-color;
            }
          }
        }
        .formSubmitContainer {
          align-self: center;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          button {
            margin: 0 20px;
            @include default-button(white, 15px, $login-background-color);
            width: 100%;
            padding: 12px 0;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
