@import "@/styles/_variables.scss";

.container {
  background-color: $dark-background-color;
  height: 100%;
  overflow: scroll;
  color: $light-background-text-color-primary;

  @media (min-width: 999px) {
    margin-left: $desktop-navbar-width;
    width: 250px;
    min-width: 250px;
    border-right: 1px solid
      rgba($color: $light-background-text-color-primary, $alpha: 0.1);
  }
}