@import "@/styles/variables.scss";
@import "@/styles/_mixins.scss";

.container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px 10px 5px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  .imageSection {
    position: relative;
    .imageContainer {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .onlineBadge {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: $online-badge-color;
      right: 2px;
      bottom: -1px;
    }
  }
  .nameContainer {
    h3 {
      font-size: 14px;
      font-weight: 400;
      color: $light-background-text-color-primary;
      margin-left: 10px;
    }
    .highlighted {
      color: $light-background-text-color-secondary;
      font-weight: 500;
    }
  }
  .badge {
    @include badge-mixin($button-color, white);
  }

  @media (min-width: 999px) {
    cursor: pointer;
    &:hover {
      border: 1px solid rgba(173, 181, 189, 0.5);
    }
  }
}
