@import "@/styles/variables.scss";

.layoutContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $dark-background-color;
  margin-bottom: $mobile-navbar-height;
  position: fixed;
  .chatWindow {
    display: none;
  }
  @media (min-width: 999px) {
    margin-bottom: 0;
    display: flex;
    .chatWindow {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
