@import "@/styles/variables.scss";

.layoutContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $dark-background-color;
  margin-bottom: $mobile-navbar-height;
  position: fixed;
  .chatWindowDesktop {
    display: none;
  }
  .chatWindowMobile {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    transition: height 0.3s ease;
  }
  .hidden {
    width: 0;
    height: 0;
  }
  @media (min-width: 999px) {
    margin-bottom: 0;
    display: flex;
    .chatWindowDesktop {
      display: block;
      width: 100%;
      height: 100%;
    }
    .chatWindowMobile {
      height: 0;
      overflow: hidden;
    }
  }
}
