@import "@/styles/_variables";

.container {
  background-color: $dark-background-color;
  height: 100%;
  overflow: scroll;

  @media (min-width: 999px) {
    margin-left: $desktop-navbar-width;
    width: 300px;
  }
}
