@import "@/styles/_variables";

.container {
  background-color: $navbar-color;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 72px;
  height: 100%;
  z-index: 999;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;

    li {
      margin: 30px 0;
      font-size: 28px;
      color: $navbar-action-color;
      cursor: pointer;

      &.selected {
        color: $navbar-action-active-color;
      }
    }
    &:last-child {
      flex-direction: column-reverse;
    }
  }

  @media (max-width: 999px) {
    width: 100%;
    height: 72px;
    bottom: 0;
    top: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    ul {
      flex: 3;
      margin-top: 0;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-around;

      li {
        padding: 0;
      }

      &:last-child {
        flex: 1;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
