@import "@/styles/variables.scss";

.emptyContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .emptyContainerMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $dark-background-color;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid rgba($color: $button-color, $alpha: 0.2);
    gap: 7px;
    h3 {
      color: $button-color;
      font-size: 22px;
    }
    p {
      color: $light-background-text-color-primary;
      font-size: 15px;
    }
  }
}