@import "@/styles/_variables.scss";

.backgroundContainer {
  position: relative;

  .changeIcon {
    background-color: $dark-background-color;
    color: $navbar-action-active-color;
    border-color: $navbar-action-active-color;
    &:hover {
      background-color: $navbar-action-active-color;
      color: $light-background-text-color-secondary;
      border-color: $dark-background-color;
    }
  }

  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    filter: brightness(0.8);
  }
  h5 {
    color: $light-background-text-color-secondary;
    font-size: 18.5px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 400;
    font-family: "Roboto", "system-ui", "-apple-system", sans-serif;
  }
  .editContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $light-background-text-color-secondary;
  }

  @media (min-width: 999px) {
    .editContainer {
      cursor: pointer;
    }
  }
}
