@import "@/styles/_variables.scss";

.container {
  background-color: $dark-background-color;
  height: 100vh;
  padding-bottom: $desktop-navbar-width;

  @media (min-width: 999px) {
    position: fixed;
    margin-left: $desktop-navbar-width;
    width: 300px;
  }
}
