@import "@/styles/variables.scss";

.container {
  .accordionUnit {
    background-color: $dark-background-color;
    color: $light-background-text-color-primary;
    padding-left: 10px;
    .inputFormComponent {
      border-color: $light-background-text-color-primary;
      display: flex;
      gap: 20px;
      flex-direction: column;
      .inputField {
        max-width: 250px;
        input {
          color: $light-background-text-color-primary;
        }
        label {
          color: $light-background-text-color-primary;
        }
        fieldset {
          border-color: $light-background-text-color-primary;
        }
      }
      .submitButton {
        color: $submit-button-color;
        border-color: $submit-button-color;
        align-self: flex-start;
        margin-left: 10px;
      }
    }
    .privacyAccordionOptions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      p {
        font-size: 15.5px;
        font-weight: 400;
      }
    }
  }
  hr {
    border: 0;
    height: 1px;
    opacity: 0.2;
    background-color: $light-background-text-color-primary;
  }
}
