@import "@/styles/variables.scss";

.container {
  margin-top: 5px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  h1 {
    flex: 0;
    font-size: 14.5px;
    font-weight: 400;
    color: $button-color;
    margin-left: 5px;
  }
  hr {
    margin: 0 5px 0 10px;
    flex: 1;
    opacity: 0.25;
    border-color: $light-background-text-color-primary;
  }
}
