@mixin default-button($button-color, $font-size, $background-color) {
  color: $button-color;
  font-size: $font-size;
  background-color: $background-color;
  border: none;
}

@mixin badge-mixin($background-color, $content-color) {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 12px;
    color: $content-color;
  }
}
