$navbar-color: #2e2e2e;
$navbar-action-color: #878a92;
$login-background-color: #4eac6d;
$navbar-action-active-color: #4a9a64;
$button-color: #4a9a64;
$dark-background-color: #262626;
$dark-button-background-color: rgb(78, 172, 109, 0.1);
$dark-message-background-color: #2e2e2e;
$light-background-text-color-primary: rgb(173, 181, 189);
$light-background-text-color-secondary: rgb(225, 225, 225);
$message-owner-background-color: rgb(38, 85, 54);
$desktop-navbar-width: 72px;
$mobile-navbar-height: 72px;
$online-badge-color: rgb(26, 193, 26);
$input-background-color: rgb(51, 51, 51);