$navbar-color: #2e2e2e;
$navbar-action-color: #878a92;
$navbar-action-active-color: #4a9a64;
$dark-background-color: #262626;
$light-background-text-color-primary: rgb(173, 181, 189);
$light-background-text-color-secondary: rgb(225, 225, 225);
$desktop-navbar-width: 72px;